* {
    /* outline: 1px solid red; */
}

body {
    overflow-x: hidden;
    position: relative;
}

.container {
    position: relative;
    z-index: 10;
}



#line {
    z-index: 10;
}

header {
    min-height: 100vh;
    padding: var(--SectionPadding) 10px;
    /* background-color: var(--BlackBackground); */
}

.triangle1 {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(/imgs/tringlesmallwhite.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    transition: .5s linear;
}

.triangle2 {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(/imgs/tringlesmall.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    transition: .2s linear;

}

header h1 {
    position: relative;
    z-index: 11;
}

header p:nth-of-type(1) {
    letter-spacing: 3px;
}

.back-text-animation {
    /* background:red; */
    width: fit-content;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: rotate(-90deg);
    transform-origin: bottom right;
    /* background-color: red; */
}

.ml3 {
    color: var(--OrangeTransparenBackgournd);
    font-size: 13rem;
    white-space: nowrap;
    overflow: hidden;
}


.ml1,
.ml2 {
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align: center;
}

.ml1 .letter,
.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}


header a {
    padding: 10px;
    width: 150px;
}

header a::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 7px;
    width: 30px;
    height: 30px;
    background-color: var(--BlackTransparent);
    z-index: -1;
    border-radius: 50%;
    transition: .5s ease;
}

header a:hover::before {
    border-radius: 0px;
    width: 160px;
}


section.tow {
    position: relative;
    z-index: 0;
}

.questions-container {
    background-color: rgb(30, 30, 30);
    /* width: fit-content; */
    border-radius: 5px;
    position: relative;
    z-index: 111;
}




section.three {
    min-height: 100vh;
}

.product-box {
    position: relative;
    /* background-image: url(/imgs/project1.png); */
    cursor: pointer;
    /* background-color: red; */
}
.product-box img{
    max-width: 400px;
    width: 100%;
    /* height: 400px; */
    height: 450px;
    object-fit: cover;
}

.product1 {
    bottom: 50px;
}

.product2 {
    bottom: 0px;
}

.product-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.three .rows:not(.rows:nth-child(1)) {
    margin-bottom: 130px;
}



section.three .rows:nth-of-type(1) {
    margin-top: 100px;
}

section.three .layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.761);
    color: white;
    display: grid;
    place-content: center;
}

.modal {
    z-index: 1111111111111111;
}

.modal-dialog {
    max-width: 400px;
    width: 100%;
    background-color: white;
    height: 400px;
}




@media (max-width:767px) {
    section.three .rows:not(.rows:nth-child(1)) {
        margin-bottom: 00px;
    }

    .product1 {
        bottom: 0px;
    }
    .ml1,
    .ml2 {
        font-size: 2rem;
    }
}