*{
    /* outline: 1px solid red; */
}
header {
    min-height: 100vh;
    padding: var(--SectionPadding) 10px;
    /* background-color: var(--BlackBackground); */
}

header .container h1 {}











section.one .box {
    min-height: 70vh;
    place-content: center;
    gap: 100px;
    padding: 0 10px;
}
/* 
section.one .box p {
    font-size: 1.6rem;
    z-index: 1111;
    
} */

.text-right ,
.text-left  {
    z-index: 10;
    transition: all 1s ease;
    /* width: min(100%, 800px); */
    width: min(100%, 700px);
    font-size: 1.6rem;
    /* background-color: red; */
}

section.one .circle {
    width: 100px;
    height: 100px;
    z-index: 0;
}
section.one .circle:nth-child(1) {
    right: 20px;
    top: 300px;
}
section.one .circle:nth-child(2) {
    right: 20px;
    top: 350px;
}
section.one .circle:nth-child(3) {
    right: 160px;
    top: 50px;
}
section.one .circle:nth-child(4) {
    right: 260px;
    bottom: 0px;
}
section.one .circle:nth-child(5) {
    right: 260px;
    bottom: 0px;
}
section.one .circle:nth-child(6) {
    right: 260px;
    bottom: 0px;
}
section.one .circle:nth-child(7) {
    right: 260px;
    bottom: 0px;
}
section.one .circle:nth-child(8) {
    right: 260px;
    bottom: 0px;
}
section.one .circle:nth-child(9) {
    right: 260px;
    bottom: 0px;
}




.question {
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    position: relative;
    z-index: 111;
}


















section.tow {
    padding: var(--SectionPadding) 10px 0px;
    position: relative;
    min-height: 100vh;
}


img.stars2 {
    position: absolute;
    top: 100px;
    right: 5%;
    z-index: -1;
}

img.stars5 {
    position: absolute;
    z-index: -1;
    width: 150px;
    height: 150px;
    right: 60px;
    bottom: 100px;
}
img.stars3 {
    position: absolute;
    z-index: -1;
    /* width: 200px; */
    /* height: 200px; */
    left: 60px;
    bottom: 400px;
}


.project {
    max-width: 400px;
    width: 100%;
    height: 360px;
    /* min-height: 350px; */
    /* height: 100%; */
    transition: .5s ease;
    /* overflow: hidden; */
}
.project-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 100%; 
    width: 100%;
    z-index: 111;
    padding: 10px;
    /* font-weight: bold; */

}
.projects-row:nth-child(1) .project:nth-child(1)::before{
    content: 'Web Application';
}
.projects-row:nth-child(1) .project:nth-child(2)::before{
    content: 'Custom UI&UX';
}
.projects-row:nth-child(2) .project:nth-child(1)::before{
    content: 'Hosting';
}
.projects-row:nth-child(2) .project:nth-child(2)::before{
    content: 'Mobile Application';
}

/* .project-img-small {
    max-width: 300px;
    width: 100%;
    height: 390px;
    transition: .5s ease;
} */


.projects-row {
    margin-bottom: 200px;
    /* background-color: gold; */
    flex-wrap: nowrap;
}


@media (max-width:991px) {
    .project {
        max-width: 330px;
        height: 400px;
    }
/* 
    .project {
        max-width: 300px;
        height: 350px;
    } */
}

@media (max-width:700px) {
    .project {
        max-width: 270px;
        height: 270px;
    }

    /* .project {
        max-width: 260px;
        height: 310px;
    } */
}

@media (max-width:600px) {
    .project {
        max-width: 220px;
        height: 220px;
    }

    /* .project {
        max-width: 220px;
        height: 270px;
    } */
}

@media (max-width:500px) {
    .project {
        max-width: 170px;
        height: 170px;
    }

    /* .project {
        max-width: 140px;
        height: 210px;
    } */
}

@media (max-width:400px) {
    .project {
        max-width: 150px;
        height: 150px;
    }

    /* .project-img {
        max-width: 120px;
        height: 170px;
    } */
}






.product-box {
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    /* background-image: url(/imgs/project1.png); */
}
/* @media (max-width:575px) { */
    /* .product-box {
        max-width: 350px;
        max-height: 350px;
    }
} */